div.row-fluid
	div.span12
		form
			hr
			div
				label Username (optional)
				input#username(type="text", name="username", value=snParams.username ? snParams.username : '')
			div
				label Password (optional)
				input#password(type="password", name="password", value=snParams.password ? snParams.password : '')
			br
			div
				if snParams.autorename && snParams.autorename === true
					input#autorename(type="checkbox", name="autorename", checked="checked")
				else
					input#autorename(type="checkbox", name="autorename")
				span= " Autorename subtitles files to video file name"
			br
			div
				label Subtitles language
				select#subLang
					option(value="VO", selected=snParams.subLang == "VO" ? true : false)="English"
					option(value="VF", selected=snParams.subLang == "VF" ? true : false)="French"
			br
			div.tabbable
				ul.nav.nav-tabs
					li(class=snParams.sickbeardUrl || !snParams.baseFolder ? 'active' : '')
						a(href="#tab1", data-toggle="tab") Use SickBeard API (recommended)
					li(class=!snParams.sickbeardUrl && snParams.baseFolder ? 'active' : '')
						a(href="#tab2", data-toggle="tab") Use subNode folder scanning
				div.tab-content
					div#tab1.tab-pane(class=snParams.sickbeardUrl || !snParams.baseFolder ? 'active' : '')
						label SickBeard URL
						input#sickbeardUrl(type="text", placeholder="Ex: http://localhost:8081", value=snParams.sickbeardUrl ? snParams.sickbeardUrl : '')
						span.help-block Folder containing your TV Shows.
						label SickBeard API Key
						input#sickbeardApiKey(type="text", placeholder="API Key", value=snParams.sickbeardApiKey ? snParams.sickbeardApiKey : '')
						span.help-block Folder containing your TV Shows.
					div#tab2.tab-pane(class=!snParams.sickbeardUrl && snParams.baseFolder ? 'active' : '')
						label Base folder
						input#baseFolder(type="text", placeholder="Ex: C:/TV/", value=snParams.baseFolder ? snParams.baseFolder : '')
						span.help-block Folder containing your TV Shows.
			a.btn.btn-success(href="/", onclick="return saveParams();") Save