extends layout
include nav

block content
	include nav
	div.content
		div
			h1#showName= title
			p Choose an episode in the list :
		div.tabbable.tabs-left
			ul.nav.nav-tabs
				- for(var season in seasons)
					li(class=season == seasons.length-1 ? 'active' : '')
						a(data-toggle="tab",href="#season"+season) Season #{seasons[season]}
			div.tab-content
				- for (var season in seasons)
					div.tab-pane(id="season"+season, class=season == seasons.length-1 ? 'active' : '')
						p
							ul.episodes
								- each episode in showFiles[seasons[season]]
									li
										span.label(href='', onclick='getSubs(event,"#{episode.file}"); return false;', class=episode.subtitle ? 'label-success' : (episode.file ? 'label-important' : ''), title=episode.airdate ? "Air date: "+episode.airdate : '', rel="tooltip", data-placement="left")= episode.name
										if(episode.subtitle)
											&nbsp;
											i.icon-libreoffice(title=episode.subtitle.file, rel="tooltip", data-placement="right")
										&nbsp;
										div.loader.hidden
										div.subtitles.metro